{% extends 'base.html.twig' %}

{% block title %}ContratLicence index{% endblock %}

{% block body %}
    <h1>Contrat - Licence</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>LibelleService</th>
                <th>FournisseurId</th>
                <th>MontantAnnuel</th>
                <th>DateDebut</th>
                <th>DateFin</th>
                <th>DatePreavis</th>
                <th>Statut</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contrat_licence in contrat_licences %}
            <tr>
                <td>{{ contrat_licence.id }}</td>
                <td>{{ contrat_licence.libelleService }}</td>
                <td>{{ contrat_licence.fournisseur ? contrat_licence.fournisseur.nomEntreprise : 'Non défini' }}</td>
                <td>{{ contrat_licence.montantAnnuel }}</td>
                <td>{{ contrat_licence.dateDebut ? contrat_licence.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ contrat_licence.dateFin ? contrat_licence.dateFin|date('Y-m-d') : '' }}</td>
                <td>{{ contrat_licence.datePreavis ? contrat_licence.datePreavis|date('Y-m-d') : '' }}</td>
                <td>{{ contrat_licence.statut }}</td>
                <td>
                    <a href="{{ path('app_contrat_licence_show', {'id': contrat_licence.id}) }}">Voir</a>
                    <a href="{{ path('app_contrat_licence_edit', {'id': contrat_licence.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_contrat_licence_new') }}">Nouveau Contrat</a>
{% endblock %}
