{% extends 'base.html.twig' %}

{% block title %}ContratLicence{% endblock %}

{% block body %}
    <h1>ContratLicence</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contrat_licence.id }}</td>
            </tr>
            <tr>
                <th>LibelleService</th>
                <td>{{ contrat_licence.libelleService }}</td>
            </tr>
            <tr>
                <th>FournisseurId</th>
                <td>{{ contrat_licence.fournisseurId }}</td>
            </tr>
            <tr>
                <th>MontantAnnuel</th>
                <td>{{ contrat_licence.montantAnnuel }}</td>
            </tr>
            <tr>
                <th>DateDebut</th>
                <td>{{ contrat_licence.dateDebut ? contrat_licence.dateDebut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateFin</th>
                <td>{{ contrat_licence.dateFin ? contrat_licence.dateFin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DatePreavis</th>
                <td>{{ contrat_licence.datePreavis ? contrat_licence.datePreavis|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ contrat_licence.statut }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_contrat_licence_index') }}">back to list</a>

    <a href="{{ path('app_contrat_licence_edit', {'id': contrat_licence.id}) }}">edit</a>

    {{ include('contrat_licence/_delete_form.html.twig') }}
{% endblock %}
