{% extends 'base.html.twig' %}

{% block title %}Budget index{% endblock %}

{% block body %}
    <div style="margin-bottom: 20px;">
    <a href="{{ path('app_dashboard') }}" style="text-decoration: none; color: #2c3e50; font-weight: bold; padding: 8px 12px; border: 1px solid #ccc; border-radius: 5px; background-color: #f8f9fa;">
        ⬅ Retour au Tableau de bord
    </a>
    </div>
    <h1>Budget</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Annee</th>
                <th>CodeComptable</th>
                <th>LibelleLigne</th>
                <th>MontantAlloue</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for budget in budgets %}
            <tr>
                <td>{{ budget.id }}</td>
                <td>{{ budget.annee }}</td>
                <td>{{ budget.codeComptable }}</td>
                <td>{{ budget.libelleLigne }}</td>
                <td>{{ budget.montantAlloue }}</td>
                <td>
                    <a href="{{ path('app_budget_show', {'id': budget.id}) }}">Voir</a>
                    <a href="{{ path('app_budget_edit', {'id': budget.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_budget_new') }}">Nouveau budget</a>
{% endblock %}
